:root{
  --secondaryBackground: rgb(0, 6, 31);         
  --navColor: #000000;
  --borderColor: #353434;
  --borderColor2: white;
  --titleText: #ffffff;
  --normalText: #ffffff;
  --pageColor: rgb(0, 6, 31);
  --backgroundColor: rgb(236, 236, 236);

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
h1, h2, a, h3, h4, h5, h6,button {
  color: var(--titleText);
  font-family: 'Roboto Mono', monospace;
  
  
}
h1{
  font-size: 1.7rem;
}
h3 {
  font-size: 1.5rem;
}
p, li, span, label, input, textarea{
  color: var(--normalText);
  font-family: 'Lora', serif;
  font-size: 1.3rem;
}

nav {
  background: var(--navColor);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.svgFather{
  margin: 2px;
}

#wrapper{
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: 150px 600px 500px 100px ;
  grid-template-areas: 
  "#head"
  "#mainElement"
  "#extra"
  "#foot";
  
  background-color: var(--backgroundColor);
  
  
}

#head {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  box-shadow: -5px 7px 22px 5px rgba(0,0,0,0.85);
  background: var(--secondaryBackground);
  border: solid var(--borderColor) 1px;
  
}


#main {
  margin: 10px 3% 10px 3%;
  border-left: var(--borderColor) solid 1px;
  border-right: var(--borderColor) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.pages {
  position: absolute;
  box-shadow: -5px 7px 22px 5px rgba(0,0,0,0.85);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 9px;
  padding-bottom: 1em;
  background: var(--pageColor);
  transform: scale(0)  ;
  
  
  transition: ease 0.2s all;

  
  
}


.pages p{
  padding: 10px;
}
.pages h3{
  
  padding: 10px;
}

#page1 {
  top: 2%;
  left: 7%;
  right: 1%;
  bottom: 21%;
   
}

#page3 {
  top: 7%;
  left: 5%;
  right: 2%;
  bottom: 20%;
}
#page2 {
  top: 12%;
  left: 1%;
  right: 5%;
  bottom: 15%;
}
#infoShit {
  position: absolute;
  top: 90%;
}
a {
  font-size: 1.3rem;
  padding-left: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  
}
li {
  list-style: none;
}
button {
  
  font-size: 0.9rem;
  font-weight: bolder;
	margin: -5px;
	cursor: pointer;
	outline: none;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  background: var(--navColor);
  box-shadow: -5px 7px 22px 5px rgba(0,0,0,0.85);
 
  stroke: none;
  border: none;
  padding-top: 5px;
  border: groove white 1px;
}
p i {
  font-size: 1.5rem;
}
i {
  
  font-size: 2.2rem ;
  

  
}

button:hover{
  z-index: 1;
  
}
svg {
  margin-right: 0.5rem;
  width: 0.5rem;
}

#extra {
  box-shadow: -5px 7px 22px 5px rgba(0,0,0,0.85);
  background: var(--secondaryBackground);
  display: grid;
  /* border: var(--borderColor2) 1px solid; */
  grid-template-columns: 1fr 3fr;
}
aside {
  border-right: solid 1px var(--borderColor2);
  padding: 2px;
}
article {
  margin-left: 5px;
}
article a {
  font-size: 1rem;
}
article p, aside p {
  font-size: 0.9rem;
}
article h3, aside h3 {
  font-size: 1.1rem;
}


footer {
  margin-top: 15px;
  text-align: center;
}
footer p{
  color: var(--navColor);
}

